# Server
NODE_ENV=development
PORT=4000

VERCEL = 0


# Frontend URL
CLIENT_URL=http://localhost:5173
FRONTEND_URL=http://localhost:5173

# Database
DATABASE_URL="postgresql://postgres.dgsagas:fdsafa*@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Better Auth
# openssl rand -base64 32
BETTER_AUTH_SECRET=fdasfsaf=
BETTER_AUTH_URL=http://localhost:4000
GOOGLE_CLIENT_ID=fasdf-dfsafaf.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=adsfas-sadfaf-asdf

RESEND_API_KEY=dfasfdsafd
EMAIL_FROM=Acme <onboarding@resend.dev>